apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: shipwrightbuilds.operator.shipwright.io
spec:
  group: operator.shipwright.io
  names:
    kind: ShipwrightBuild
    listKind: ShipwrightBuildList
    plural: shipwrightbuilds
    singular: shipwrightbuild
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ShipwrightBuild is the Schema for the shipwrightbuilds API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ShipwrightBuildSpec defines the desired state of ShipwrightBuild
            properties:
              foo:
                description: Foo is an example field of ShipwrightBuild. Edit ShipwrightBuild_types.go to remove/update
                type: string
            type: object
          status:
            description: ShipwrightBuildStatus defines the observed state of ShipwrightBuild
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
