---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - admissionregistration.k8s.io/v1beta1
  resources:
  - validatingwebhookconfigurations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resourceNames:
  - buildruns.shipwright.io
  - builds.shipwright.io
  - buildstrategies.shipwright.io
  - clusterbuildstrategies.shipwright.io
  resources:
  - customresourcedefinitions
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - apps
  resourceNames:
  - shipwright-build-controller
  resources:
  - deployments
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - apps
  resourceNames:
  - shipwright-build-webhook
  resources:
  - deployments
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - apps
  resourceNames:
  - shipwright-build-controller
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - apps
  resourceNames:
  - shipwright-build-webhook
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - cert-manager.io
  resourceNames:
  - shipwright-build-webhook-cert
  resources:
  - certificates
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - cert-manager.io
  resources:
  - issuers
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - cert-manager.io
  resourceNames:
  - selfsigned-issuer
  resources:
  - issuers
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - limitranges
  - namespaces
  - pods
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - ""
  resourceNames:
  - shipwright-build-controller
  resources:
  - serviceaccounts
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - ""
  resourceNames:
  - shipwright-build-webhook
  resources:
  - serviceaccounts
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - operator.shipwright.io
  resources:
  - shipwrightbuilds
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.shipwright.io
  resources:
  - shipwrightbuilds/finalizers
  verbs:
  - update
- apiGroups:
  - operator.shipwright.io
  resources:
  - shipwrightbuilds/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operator.tekton.dev
  resources:
  - tektonconfigs
  verbs:
  - create
  - get
  - list
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - shipwright-build-controller
  resources:
  - clusterrolebindings
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - shipwright-build-webhook
  resources:
  - clusterrolebindings
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - shipwright-build-aggregate-edit
  resources:
  - clusterroles
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - shipwright-build-aggregate-view
  resources:
  - clusterroles
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - shipwright-build-controller
  resources:
  - clusterroles
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - shipwright-build-webhook
  resources:
  - clusterroles
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - shipwright-build-controller
  resources:
  - rolebindings
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - shipwright-build-webhook
  resources:
  - rolebindings
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - shipwright-build-controller
  resources:
  - roles
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - shipwright-build-webhook
  resources:
  - roles
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - shipwright.io
  resources:
  - clusterbuildstrategies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
